.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.post-image-card{
  height: auto;
  width: 250px;
}

.donation-card{
  border: solid 2px blue;
  padding: 5px;
  margin: 20px;
}

.error-list-item{
  color: red;
}