.post-image-card{
    /* height: auto; */
    /* width: 550px; */
    /* align-items: center;
    justify-content: center; */
  }
  
  .donation-card{
    border: solid 2px blue;
    padding: 5px;
    margin: 20px;
  }
  
  .donation-claimed{
    background: rgba(0,0,0,.2);
    color:  rgba(0,0,0, .2);
  }

  #search-bar{
    justify-content: center;
    margin-top: 25px;
    padding: 15px;
  }

  .file-upload{
    margin-left: 130px;
  }

  .new-post-header{
    padding-top: 25px;
    padding-bottom: 15px;
  }