  
  .donation-card{
    border: solid .5px black;
    padding: 5px;
    margin: 20px;
  }
  
  .donation-claimed{
    color:  rgba(0,0,0, .2);
  }

  

  #search-bar{
    justify-content: center;
    margin-top: 25px;
    padding: 15px;
  }

  .file-upload{
    margin-left: 130px;
  }

  .new-post-header{
    padding-top: 25px;
    padding-bottom: 15px;
  }